
/* Creating My Navigation Bar */
body {
    border: none;
    margin: 0;
    background-image: url(https://images.rawpixel.com/image_transparent_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTEwL3JtNTk5ZGVzaWduLWVsZW1lbnQtMTgtbDlkM2J5d3QucG5n.png), linear-gradient(#8FE7EB, black);
}

.test {
    height: 500px;
}

h1 {
    box-sizing: border-box;
    margin: 0;
    line-height: 5;
    text-align: center;
    margin-bottom: -50px;
}

.content {
    color: rgba(255, 255, 255, 0.869);
    margin-left: 15%;
    margin-right: 15%;
}


.navBar {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    background-color: #46473E;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    position: fixed;
}

.navBar a {
    width: 25%;
    text-align: center;
    padding: 14px 16px;
    color: #f2f2f2;
    text-decoration: none;
    justify-content: space-between;
}

.navBar a:hover {
    background-color: aquamarine;
    color:black;
}


/* Page Four Focus */

#albumCovers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 50px;;
}

.container {
    height: 241px;
    width: 220px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#albumCovers img {
    height: 220px;
}

#charliContainer {
    width: 240px;
}

#albumCovers label {
    display: inline-block;
    background-color: #82fde4bb;
    color: #46473E;
    padding: 2px;
}


.footer {
    text-align: center;
    color: rgba(255, 255, 240, 0.671);
    margin-bottom: 20px;
    margin-top: 15px;
}

.footer p {
    margin: 0;
}

/* Page 1 Focus */


.header img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border:solid;
    border-color: #82fde5;
}

#welcomeContent {
    margin-top: 35px;
    padding: 10px;
    padding-top: 0px;
   /* background-color: #e2d686cb; */
    background-color: #82fde5e4;
    color: #46473E;
    border: solid;
}


/* Page 2 Focus  */
.content form {
    display: flex;
    justify-content: center;
    color:#46473E;
    margin-top: 5%;
}

.content fieldset {
    background-color: #82fde4ca;
}

legend {
    background-color: #fff1989a;
}

#firstName {
    display: block;
    margin-bottom: 8px;
}
#lastName {
    display: block;
    margin-bottom: 8px;
}
#email {
    display: block;
    margin-bottom: 8px;

}
#suggestions {
    display: block;
    margin-bottom: 8px;
}

textarea {
    color: rgba(0, 0, 0, 0.37);
}


/* Page 3 Focus */
.links {
    width: 600px;
    margin-left: 30%;
    background-color: #82fde4c0;
    padding: 10px;
    padding-top: 0;
    border: solid;
    margin-top: 55px;
}

.links li {
    margin: 10px;
}
