
/* Creating My Navigation Bar */
body {
    border: none;
    margin: 0;
}

h1 {
    box-sizing: border-box;
    margin: 0;
    line-height: 5;
}

.navBar {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    background-color: grey;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    position: fixed;
}

.navBar a {
    width: 25%;
    text-align: center;
    padding: 14px 16px;
    color: #f2f2f2;
    text-decoration: none;
    justify-content: space-between;
}

.navBar a:hover {
    background-color: aquamarine;
    color:black;
}
